body,
.panel-default {
  background: black;
  color: white;
  font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
}
.starter-template {
  padding: 40px 15px;
}
img {
  max-width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: white;
  text-decoration: underline;
}
.panel {
  border-style: none;
}
textarea,
small {
  font-size: 14px;
  display: block;
  padding: 1em;
}
small {
  max-width: 300px;
  border-left: 3px dashed #990000;
  border-right: 3px dashed #990000;
  background: #dfdfdf;
}
fieldset legend {
  display: block;
}
fieldset img {
  max-width: 200px;
}
fieldset img {
  border: 10px solid black;
}
fieldset li {
  display: flex;
  gutter: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
}
fieldset li:has(input:checked) img {
  border-color: green;
}
.result {
  border: 5px solid white;
}
